version: 2.1

jobs:
  build:
    docker:
      - image: cimg/android:2023.09
    steps:
      - checkout

      - run:
          name: Check Java version
          command: java -version

      - run:
          name: Gradle permissions
          command: chmod +x ./gradlew

      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies

      - run:
          name: Build
          command: ./gradlew build

      - store_artifacts:
          path: app/build/reports
          destination: reports

      - run:
          name: Run Tests
          command: ./gradlew lint test

      - store_test_results:
          path: app/build/test-results

      - store_artifacts:
          path: app/build/outputs/apk/debug/
          destination: artifact-file